<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sumcofw.infra.modules.member.MemberMapper">

	<resultMap id="resultMapObj" type="com.sumcofw.infra.modules.member.Member"></resultMap>
	
	
	<insert id = "orderInsert" > 
		
		insert into idOrder(
			iodifmmSeq
		    ,iodTotalPrice
		    ,iodPayDateTime
		    ,iodPayMethod
		    ,iodNumber
		)
		
		values(
			#{ifmmSeq}
		    ,#{iodTotalPrice}
		    ,#{iodPayDateTime}
		    , 1 
		    ,#{iodNumber}
		)
			
		<selectKey resultType ="String" keyProperty = "iodSeq" order ="AFTER">
        		SELECT last_insert_id()
        </selectKey>
        
	</insert>
	
	<insert id = "orderDetailInsert" > 
		
		insert into idPayment(
			ipmIodSeq
			,ipmIltSeq
		)
		
		values(
			#{iltSeq}
			,#{ipmIltSeq}
		)
			
		<selectKey resultType ="String" keyProperty = "ipmSeq" order ="AFTER">
        		SELECT last_insert_id()
        </selectKey>
        
	</insert>
</mapper>