<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sumcofw.infra.modules.lecturer.LecturerMapper">

    <resultMap id="resultMapObj" type="com.sumcofw.infra.modules.lecturer.Lecturer"></resultMap>
	
	
	<select id = "selectOneLecturer" resultMap="resultMapObj">
		select
			a.`iftcSeq`
		    , a.`iftcName`
		    , a.`iftcProfile`
		from
			infrTeacher a
		where
			1=1
		    AND a.`iftcSeq` = #{iftcSeq}
	</select>
	
	<!-- 강의목록 -->
	<select id="selectLecture" resultMap="resultMapObj">
		select
			a.iltSeq
			,a.iltTitle
		    ,a.iltBody
		    ,a.iltPrice
		    ,a.iltUseNy
		    ,b.ictgItem
		    ,c.ictsItem
		from
			idLecture a
		inner join idCategory b on b.ictgSeq = a.iltIctgSeq
		inner join idCategorySub c on c.ictsSeq = b.ictgIctsSeq
		where 1=1
	</select>
	
	<!-- 강의목록 선택 -->
	<select id="selectLectureOne" resultMap="resultMapObj">
		SELECT
			a.iltSeq
			,a.iltTitle
		    ,a.iltBody
		    ,a.iltPrice
		    ,a.iltUseNy
            ,b.ictgItem
		    ,c.ictsItem
		FROM idLecture a
        inner join idCategory b on b.ictgSeq = a.iltIctgSeq
		inner join idCategorySub c on c.ictsSeq = b.ictgIctsSeq
        WHERE 1=1
			AND iltSeq = #{iltSeq}
	</select>
	
	<!-- 강의 등록폼 카테고리 대분류 -->
	<select id="selectCategory" resultMap="resultMapObj">
	select 
		a.ictgSeq
		,a.ictgItem
	from idCategory a
	where 1=1
	group by a.ictgItem
	</select>
	<!-- 강의 등록폼 카테고리 소분류 -->
	<select id="selectCategorySub" resultMap="resultMapObj">
	select 
		a.ictgSeq
		,a.ictgItem
	    ,b.ictsItem
	from idCategory a
	inner join idCategorySub b on b.ictsSeq = a.ictgIctsSeq
	where 1=1
	</select>
	<!-- 강의 등록폼 챕터 리스트 -->
	<select id="selectChapterList" resultMap="resultMapObj">
	select
		a.ictSeq
	    ,a.ictTitle
	    ,a.ictVideoUrl
	    ,b.ichTitle
	from idChapter a
	inner join idChapterHeader b on b.ichSeq = a.ictIchSeq
	where 1=1
	</select>
	
	
	<!-- 강의선택 -->
	<select id = "selectOneLecture" resultMap="resultMapObj">
		select
			a.`iftcSeq`
		    , a.`iftcName`
		    , a.`iftcProfile`
		from
			infrTeacher a
		where
			1=1
		    AND a.`iftcSeq` = #{iftcSeq}
	</select>
	
	
	
</mapper>