<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sumcofw.infra.modules.lecturer.LecturerMapper">

    <resultMap id="resultMapObj" type="com.sumcofw.infra.modules.lecturer.Lecturer"></resultMap>
	
	
	<select id = "selectOneLecturer" resultMap="resultMapObj">
		select
			a.`iftcSeq`
		    , a.`iftcName`
		    , a.`iftcProfile`
		from
			infrTeacher a
		where
			1=1
		    AND a.`iftcSeq` = #{iftcSeq}
	</select>
	
	<!-- 강의목록 -->
	<select id="selectLecture" resultMap="resultMapObj">
		select
			a.iltSeq
			,a.iltTitle
		    ,a.iltBody
		    ,a.iltPrice
		    ,a.iltUseNy
		    ,b.ictgItem
		    ,c.ictsItem
		from
			idLecture a
		inner join idCategory b on b.ictgSeq = a.iltIctgSeq
		inner join idCategorySub c on c.ictsSeq = b.ictgIctsSeq
		inner join infrTeacher d on d.iftcSeq = a.iltIftcSeq
		where 1=1 
			and d.iftcSeq = #{mainKey}
	</select>
	
	<!-- 강의목록 선택 -->
	<select id="selectLectureOne" resultMap="resultMapObj">
		SELECT
			a.iltSeq
			,a.iltTitle
		    ,a.iltBody
		    ,a.iltPrice
		    ,a.iltUseNy
            ,b.ictgItem
		    ,c.ictsItem
		FROM idLecture a
        inner join idCategory b on b.ictgSeq = a.iltIctgSeq
		inner join idCategorySub c on c.ictsSeq = b.ictgIctsSeq
        WHERE 1=1
			AND iltSeq = #{iltSeq}
	</select>
	<!-- 프로필 -->
	<select id="selectTeacher" resultMap="resultMapObj">
		SELECT
			a.iftcSeq
            ,a.iftcName
			,a.iftcMobile
		    ,a.iftcProfile
		FROM infrTeacher a
        WHERE 1=1
			AND a.iftcSeq = #{mainKey}
	</select>
	<select id="selectTeacherSns" resultMap="resultMapObj">
		SELECT
		    a.iftsUrl
		    ,a.iftsIftcSeq
		    ,a.iftsType
		FROM infrTeacherSns a
        inner join infrTeacher b on a.iftsIftcSeq = b.iftcSeq
        WHERE 1=1
			AND b.iftcSeq = #{mainKey}
	</select>
	
	<!-- 강의 등록폼 카테고리 대분류 -->
	<select id="selectCategory" resultMap="resultMapObj">
	select 
		a.ictgSeq
		,a.ictgItem
	from idCategory a
	where 1=1
	group by a.ictgItem
	</select>
	<!-- 강의 등록폼 카테고리 소분류 -->
	<select id="selectCategorySub" resultMap="resultMapObj">
	select 
		a.ictgSeq
		,a.ictgItem
		,b.ictsSeq
	    ,b.ictsItem
	from idCategory a
	inner join idCategorySub b on b.ictsSeq = a.ictgIctsSeq
	where 1=1
	</select>
	<!-- 강의 등록폼 챕터 리스트 -->
	<select id="selectChapterList" resultMap="resultMapObj">
	select
		a.ictSeq
	    ,a.ictIchSeq
	    ,a.ictTitle
	    ,a.ictVideoUrl
	    ,a.ictSort
	    ,b.ichTitle
	from idChapter a
	inner join idChapterHeader b on b.ichSeq = a.ictIchSeq
	inner join idLecture c on c.iltSeq = b.ichIltSeq
	where 1=1
		and iltSeq = #{iltSeq}
	</select>
	<select id="selectChapterHeaderList" resultMap="resultMapObj">
	select
		a.ichTitle
		,a.ichSeq
	from idChapterHeader a
	inner join idLecture b on b.iltSeq = a.ichIltSeq
	where 1=1
		and iltSeq = #{iltSeq}
	</select>
	
	<!-- 강의선택 -->
	<select id = "selectOneLecture" resultMap="resultMapObj">
		select
			a.`iftcSeq`
		    , a.`iftcName`
		    , a.`iftcProfile`
		from
			infrTeacher a
		where
			1=1
		    AND a.`iftcSeq` = #{iftcSeq}
	</select>
	
	<!-- 강의 등록 -->
	<insert id="insertLecture">
		INSERT INTO idLecture (
			iltIctgSeq 				<!-- 카테고리 시퀀스 -->
			,iltIftcSeq 			<!-- 강사시퀀스 -->
			,iltTitle 				<!-- 강의 제목 -->
			,iltBody  				<!-- 강의 본문 -->
			,iltRegDateTime  		<!-- 등록일 -->
			,iltModDateTime  		<!-- 수정일 -->
			,iltTotalTime  			<!-- 총 시간 -->
			,iltVideoCount  			<!-- 총 비디오 개수 -->
			,iltPurchasesCount 		<!-- 총 수강생 수 -->
			,iltViewcount 			<!-- 조회수 -->
			,iltPrice 				<!-- 가격 -->
			,iltUseNy  				<!-- 사용여부-->
		) VALUES (
			#{iltIctgSeq}       	<!-- 카테고리 시퀀스 -->                    
			,#{iltIftcSeq}      	<!-- 강사시퀀스 -->
			,#{iltTitle}        	<!-- 강의 제목 -->
			,#{iltBody}         	<!-- 강의 본문 -->
			,now()              	<!-- 등록일 -->
			,now()              	<!-- 수정일 -->
			,0 					   	<!-- 총 시간 -->
			,#{iltVideoCount}    	<!-- 총 비디오 개수 -->
			,0 						<!-- 총 수강생 수 -->
			,0 				 		<!-- 조회수 -->
			,#{iltPrice}            <!-- 가격 -->
			,1 	           		<!-- 사용여부-->
		)
		<selectKey resultType="String" keyProperty="iltSeq"
			order="AFTER">
			SELECT last_insert_id() <!-- 마지막으로 삽입된 강의 시퀀스 -->
		</selectKey>
	</insert>
	
	<!-- 챕터 -->	
	<insert id="insertChapterHeader">
		INSERT INTO idChapterHeader (
			ichIltSeq 		<!-- 강의 시퀀스 -->
			,ichTitle 		<!-- 챕터 대제목 -->
		) VALUES (
	    	#{ichIltSeq} 	<!-- 강의 시퀀스 -->
	    	,#{ichTitle} 	<!-- 강의 대제목 -->
		)
		<selectKey resultType="String" keyProperty="ichSeq"
			order="AFTER">
			SELECT last_insert_id() <!-- 마지막으로 삽입된 챕터 시퀀스 -->
		</selectKey>
	</insert>
	
	<insert id="insertChapter">
		INSERT INTO idChapter (
			ictIchSeq 				<!-- 챕터 대제목 시퀀스 -->
			,ictTitle 				<!-- 챕터 소제목 -->
			,ictVideoLength 		<!-- 영상 시간 -->
			,ictVideoUrl 			<!-- 영상 링크 -->
		) VALUES (
			#{ictIchSeq}			<!-- 챕터 대제목 시퀀스 -->
			,#{ictTitle}			<!-- 챕터 소제목 -->
			,0 <!-- #{ictVideoLength} -->		<!-- 영상 시간 -->
			,#{ictVideoUrl}			<!-- 영상 링크 -->
		)
	</insert>
	
	
	<insert id="insertLecturetUploaded">
	INSERT INTO lectureUpload (
		luType
		,luDefaultNy
		,luSort
		,luPath
		,luOriginalName
		,luUuidName
		,luExt
		,luSize
		,luDelNy
		,luPseq
	) values (
		#{luType}
		,#{luDefaultNy}
		,#{luSort}
		,#{luPath}
		,#{luOriginalName}
		,#{luUuidName}
		,#{luExt}
		,#{luSize}
		,0
		,#{luPseq}
	)
	</insert>
	
</mapper>