<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sumcofw.infra.modules.lecturer.LecturerMapper">

    <resultMap id="resultMapObj" type="com.sumcofw.infra.modules.lecturer.Lecturer"></resultMap>
	
	
	<select id = "selectOneLecturer" resultMap="resultMapObj">
		select
			a.`iftcSeq`
		    , a.`iftcName`
		    , a.`iftcProfile`
		from
			infrTeacher a
		where
			1=1
		    AND a.`iftcSeq` = #{iftcSeq}
	</select>
	<select id="selectLecture" resultMap="resultMapObj">
		select
			a.*
		from
			idLecture a
		where 1=1
	</select>
	
</mapper>