<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Base">

	<sql id="selectListUpperForMysql">
		select aa.* from (
	</sql>
	
	
	<sql id="selectListLowerForMysql">	
		) aa
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</sql>
	
	
	<sql id="orderByLimitForMysql">	
		limit 99999999999
	</sql>
	
	
	<sql id="selectListUpperForOracle">
		SELECT BB.*
			FROM
			(SELECT ROWNUM as RNUM, AA.*
				FROM (
	</sql>
	
	
	<sql id="selectListLowerForOracle">	
			) AA
			WHERE ROWNUM <![CDATA[ < ]]>= #{endRnum} ) BB
		WHERE BB.RNUM >= #{startRnum}
	</sql>
	
	<!-- uploaded s -->
	<insert id="insertUploaded">
		INSERT INTO ${tableName} (
			type
			,defaultNy
			,sort
			,path
			,originalName
			,uuidName
			,ext
			,size
			,delNy
			,pseq
		) values (
			#{type}
			,#{defaultNy}
			,#{sort}
			,#{path}
			,#{originalName}
			,#{uuidName}
			,#{ext}
			,#{size}
			,0
			,#{pseq}
		)
	</insert>
	<insert id="insertTeacherUploaded">
		INSERT INTO ${tableName} (
			type
			,defaultNy
			,sort
			,path
			,originalName
			,uuidName
			,ext
			,size
			,delNy
			,pseq
		) values (
			#{type}
			,#{defaultNy}
			,#{sort}
			,#{path}
			,#{originalName}
			,#{uuidName}
			,#{ext}
			,#{size}
			,0
			,#{mainKey}
		)
	</insert>
	
	<delete id="deleteUploaded">
		DELETE FROM ${tableName}
		WHERE 1=1
			AND seq = #{seq}
	</delete>
	
	
	<update id="ueleteUploaded">
		UPDATE ${tableName} SET delNy = 1
		WHERE 1=1
			AND seq = #{seq}
	</update>
	<!-- uploaded e -->	

</mapper>


