<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Document</title>
<link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css">
</head>
<body>
	
	<h2>로그인</h2>
	<ul>
		<li><a href="login.html">로그인</a></li>
		<li><a href="signup.html">회원가입</a></li>
		<li><a href="pwd.html">비밀번호찾기</a></li>
	</ul>
	
	<h2>메인페이지</h2>
	<ul>
		<li><a href="index.html">강의목록</a></li>
		<li><a href="main.html">강의 카테고리</a></li>
		<li><a href="view.html">강의 상세</a></li>
		<li><a href="lecture.html">강의 보기</a></li>
	</ul>

	<h2>마이페이지(사용자)</h2>
	<ul>
		<li><a href="dashboard.html">대쉬보드</a></li>
		<li><a href="mypage.html">구매목록</a></li>
		<li><a href="cart.html">찜목록</a></li>
		<li><a href="printPage.html">수료증 출력</a></li>
		<li><a href="profile.html">프로필</a></li>
		<li><a href="modpwd.html">비밀번호 수정</a></li>
	</ul>

	<h2>마이페이지(강사)</h2>
	<ul>
		<li><a href="lecturelist.html">강의등록목록</a></li>
		<li><a href="memberlist.html">수강생관리</a></li>
		<li><a href="class.html">강의등록</a></li>
		<li><a href="teacherProfile.html">프로필</a></li>
	</ul>

</body>
</html>