<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sumcofw.infra.modules.index.IndexMapper">

	<resultMap id="resultMapObj" type="com.sumcofw.infra.modules.index.Index"></resultMap>
	
	<!-- 사용자 회원가입 -->
	<insert id="signUpProc">
		INSERT INTO `infrMember` (
			ifmmId
			,ifmmName
			,ifmmPassword
			,ifmmEmail
			,ifmmDomain
			,ifmmMobile
			,ifmmCarrier
			,ifmmRegDateTime
			,ifmmModDateTime
			,ifmmType	
		) VALUES (
			#{ifmmId}
			,#{ifmmName}
			,#{ifmmPassword}
			,#{ifmmEmail}
			,(select ifnull(ifcdSeq, 31) from infraCode where ifcdNameEng = #{ifmmDomain})
			,#{ifmmMobile}
			,#{ifmmCarrier}
			,now()
			,now()
			,#{ifmmType}
		)
	</insert>
	
	<!-- 사용자 로그인 -->
	<select id="loginProc" resultMap="resultMapObj">
		SELECT
			a.ifmmSeq
			,a.ifmmId
			,a.ifmmPassword
			,a.ifmmName
		FROM infrMember a
		WHERE 1=1
			AND a.ifmmId = #{ifmmId}
			AND a.ifmmPassword = #{ifmmPassword}
	</select>
	
</mapper>