<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sumcofw.infra.modules.index.IndexMapper">

	<resultMap id="resultMapObj" type="com.sumcofw.infra.modules.index.Index"></resultMap>
	
	<!-- 강의 상세보기 페이지에서 강의 정보 불러오기  -->
	<select id = "lecturedetail" resultMap="resultMapObj">
		SELECT
			a.iltSeq
            ,a.iltIftcSeq
			,a.iltTitle
			,a.iltBody
			,a.iltPrice
            ,b.iftcName
            ,b.iftcSeq
            ,c.pseq
            ,c.path
            ,c.uuidName
            ,d.path as teacherPath
            ,d.uuidName as teacherUuidName
		FROM
			idLecture a
		 LEFT JOIN infrTeacher b on a.iltIftcSeq = b.iftcSeq
		 LEFT JOIN lectureUpload c on c.pseq = a.iltSeq
		 LEFT JOIN teacherUpload d on d.pseq = b.iftcSeq
		WHERE
			1=1
			AND a.iltSeq = #{iltSeq}
			AND c.pseq = #{iltSeq}
            ;
	</select>
	
	<select id = "watchedOne" resultMap="resultMapObj">
		select
			a.wrSeq
		    , a.wrIltSeq
		    , a.wrIctSeq
		    , a.wrIfmmSeq
		    , a.wrWatchedLength
		    , b.ictVideoUrl
		from 
			watchRecord a
		left join idChapter b on a.wrIctSeq = b.ictSeq
		where
			1=1
		    AND wrIltSeq = #{iltSeq}
		    AND wrIfmmSeq = #{ifmmSeq}
	</select>
	
	<select id = "notWatched" resultMap="resultMapObj">
		select
			a.ictSeq
		    , a.ictSort
		    , a.ictTitle
		    , a.ictVideoUrl
		    , c.iltSeq
		from
			idChapter a
		left join idChapterHeader b on b.ichSeq = a.ictIchSeq
		left join idLecture c on b.ichSeq = c.iltSeq
		where
			1=1
		    AND a.ictSeq = #{ictSeq}
	</select>
	
	<!-- 강의 챕터  -->
	<select id="chapterlist" resultMap="resultMapObj">
		select
			a.ichSeq
			,a.ichIltSeq
		    , c.iltTitle
		    , a.ichTitle
		    , b.ictSort
		    , b.ictSeq
		    , b.ictTitle
		    , b.ictIchSeq
		from idChapterHeader a
		left join idChapter b on a.ichSeq = b.ictIchSeq
		left join idLecture c on a.ichIltSeq = c.iltSeq
		where
			1=1
		    AND c.iltSeq = #{iltSeq}
		order by b.ictSort asc
		    ;
	</select>
	<select id="chapterHeadlist" resultMap="resultMapObj">
		select
			a.ichSeq
			,a.ichIltSeq
            ,a.ichTitle
		from idChapterHeader a
		left join idLecture c on a.ichIltSeq = c.iltSeq
		where
			1=1
		    AND c.iltSeq = #{iltSeq}
	    ;
	</select>

	<!-- 사용자 회원가입 -->
	<insert id="signUpProc">
		INSERT INTO `infrMember` (
			ifmmId
			,ifmmName
			,ifmmPassword
			,ifmmEmail
			,ifmmDomain
			,ifmmMobile
			,ifmmCarrier
			,ifmmRegDateTime
			,ifmmModDateTime
			,ifmmType	
		) VALUES (
			#{ifmmId}
			,#{ifmmName}
			,#{ifmmPassword}
			,#{ifmmEmail}
			,(select ifnull(ifcdSeq, 31) from infraCode where ifcdNameEng = #{ifmmDomain})
			,#{ifmmMobile}
			,#{ifmmCarrier}
			,now()
			,now()
			,1
		)
	</insert>
	<!-- 강사 회원가입 -->
	<insert id="teacherSignUpProc">
		INSERT INTO `infrTeacher` (
			iftcId
			,iftcName
			,iftcPassword
			,iftcEmail
			,iftcDomain
			,iftcMobile
			,iftcCarrier
			,iftcRegDateTime
			,iftcModDateTime
		) VALUES (
			#{iftcId}
			,#{iftcName}
			,#{iftcPassword}
			,#{iftcEmail}
			,(select ifnull(ifcdSeq, 31) from infraCode where ifcdNameEng = #{iftcDomain})
			,#{iftcMobile}
			,#{iftcCarrier}
			,now()
			,now()
		)
	</insert>
	
	<!-- 사용자 로그인 -->
	<select id="loginProc" resultMap="resultMapObj">
		SELECT
			a.ifmmSeq
			,a.ifmmId
			,a.ifmmPassword
			,a.ifmmName
		FROM infrMember a
		WHERE 1=1
			AND a.ifmmId = #{ifmmId}
			AND a.ifmmPassword = #{ifmmPassword}
	</select>
	<!-- 강사 로그인 -->
	<select id="teacherLoginProc" resultMap="resultMapObj">
		SELECT
			a.iftcSeq
			,a.iftcId
			,a.iftcPassword
			,a.iftcName
		FROM infrTeacher a
		WHERE 1=1
			AND a.iftcId = #{iftcId}
			AND a.iftcPassword = #{iftcPassword}
	</select>
	
	<select id="lectureDetail" resultMap="resultMapObj">
		select 
			a.ictSeq
		    , a.ictIchSeq
		    , a.ictSort
		    , a.ictTitle
		    , a.ictVideoUrl    
		    , b.ichSeq
		    , b.ichIltSeq
		    , b.ichTitle
		    , c.iltSeq
		    , c.iltTitle
		    , d.iftcName
		from
			idChapter a
		left join idChapterHeader b on a.ictIchSeq = b.ichSeq
		left join idLecture c on b.ichIltSeq = c.iltSeq
		left join infrTeacher d on c.iltIftcSeq = d.iftcSeq
		where
			1=1
		    AND iltSeq = #{iltSeq}
	</select>
	
	<!-- 홈화면 추천 리스트 -->
	<select id="lectureRand" resultMap="resultMapObj">
	select
		a.iltTitle
	    ,a.iltSeq
	    ,a.iltPrice
	    ,b.iftcSeq
	    ,b.iftcName
	    ,c.path
	    ,c.uuidName
	    ,(select count(*) from idPayment f where f.ipmIltSeq = "1") as count
	    ,(select TRUNCATE(RAND()*(5-4)+4, 1)) as random
	from idLecture a
	inner join infrTeacher b on b.iftcSeq = a.iltIftcSeq
	inner join lectureUpload c on c.pseq =  a.iltSeq
	left join infrMember d on d.ifmmSeq = a.iltIfmmSeq
	left join idOrder e on e.iodIfmmSeq = d.ifmmSeq
	left join idPayment f on f.ipmIodSeq = e.iodSeq
	where 1=1
	order by rand()
	limit 3
	</select>
	<!-- 홈화면 신규강의 리스트 -->
	<select id="lectureNew" resultMap="resultMapObj">
	select
		a.iltTitle
	    ,a.iltSeq
	    ,a.iltPrice
	    ,b.iftcSeq
	    ,b.iftcName
	    ,c.path
	    ,c.uuidName
	from idLecture a
	inner join infrTeacher b on b.iftcSeq = a.iltIftcSeq
	inner join lectureUpload c on c.pseq =  a.iltSeq
	left join infrMember d on d.ifmmSeq = a.iltIfmmSeq
	left join idOrder e on e.iodIfmmSeq = d.ifmmSeq
	left join idPayment f on f.ipmIodSeq = e.iodSeq
	where 1=1
	order by iltSeq desc
	limit 4
	</select>
	
</mapper>