<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sumcofw.infra.modules.teacher.TeacherMapper">

	<resultMap id="resultMapObj" type="com.sumcofw.infra.modules.teacher.Teacher"></resultMap>
	
	<select id="teacherList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
		select
			a.iftcSeq
			,a.iftcId
			,a.iftcName
			,a.iftcEmail
			,a.iftcDomain
			,a.iftcMobile
			,a.iftcCarrier
			,a.iftcRegDateTime
			,a.iftcModDateTime
			,a.iftcProfile
		from infrTeacher a
		where 1=1
			<if test="shDelNy != null and !shDelNy.equals('')">AND a.iftcUseNy = #{shDelNy}</if>
				<choose>
					<when test="shOption == 1">AND a.iftcSeq = #{shValue}</when>
					<when test="shOption == 2">AND a.iftcId LIKE CONCAT('%',#{shValue},'%')</when>
					<when test="shOption == 3">AND a.iftcName LIKE CONCAT('%',#{shValue},'%')</when>
				</choose>
			ORDER BY a.iftcSeq DESC
		<include refid="Base.orderByLimitForMysql" />
		<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT 
			COUNT(*)
		from infrTeacher a
		where 1=1
	</select>
	
</mapper>