<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sumcofw.infra.modules.user.UserMapper">

	<resultMap id="resultMapObj" type="com.sumcofw.infra.modules.user.User"></resultMap>
	
	<select id="userList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
		select
			a.ifmmSeq
			,a.ifmmId
			,a.ifmmName
			,a.ifmmEmail
			,a.ifmmDomain
			,a.ifmmMobile
			,a.ifmmCarrier
			,a.ifmmRegDateTime
			,a.ifmmModDateTime
			,a.ifmmType
		from infrMember a
		where 1=1
			<if test="shDelNy != null and !shDelNy.equals('')">AND a.ifmmUseNy = #{shDelNy}</if>
				<choose>
					<when test="shOption == 1">AND a.ifmmSeq = #{shValue}</when>
					<when test="shOption == 2">AND a.ifmmId LIKE CONCAT('%',#{shValue},'%')</when>
					<when test="shOption == 3">AND a.ifmmName LIKE CONCAT('%',#{shValue},'%')</when>
				</choose>
			ORDER BY a.ifmmSeq DESC
		<include refid="Base.orderByLimitForMysql" />
		<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT 
			COUNT(*)
		from infrMember a
		where 1=1
	</select>
	
</mapper>